<div class="panel"></div>

<div
  style="padding: 5%; width: 90%; margin-bottom: 100px"
  class="card mx-auto mt-5"
>
  <form [formGroup]="loginForm" (ngSubmit)="logoutUser()" class="form-inline">
    <div class="d-flex justify-content-center mt-2">
      <h1 style="font-size: 3.5rem">Logout</h1>
    </div>
    <div class="d-flex justify-content-center my-0">
      <p class="text-secondary" style="font-size: 1.3rem">
        To Log out of your account
      </p>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button
        type="submit"
        (click)="openPopup()"
        class="btn btn-warning btn-md px-5"
      >
        Logout
      </button>
      <div
        class="modal"
        tabindex="-1"
        role="dialog"
        [ngStyle]="{ display: displayStyle }"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">You are logged out!</h4>
            </div>
            <div class="modal-body">
              <p>
                You can no longer receive email alerts for product prices from
                us.
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                (click)="closePopup()"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <a routerLink="/signup" class="btn btn-outline-secondary btn-sm"
        >Sign Up</a
      >
    </div>

    <div *ngIf="firebaseErrorMessage != ''" class="error-style">
      <div
        *ngIf="
          firebaseErrorMessage ==
            'Firebase: There is no user record corresponding to this identifier. The user may have been deleted. (auth/user-not-found).';
          else other_content
        "
      >
        <div class="d-flex justify-content-center mt-3">
          <p class="alert alert-danger text-danger" role="alert">
            User not found.. Try signing up!
          </p>
        </div>
      </div>

      <ng-template #other_content class="d-flex justify-content-center mt-3">
        <span class="alert alert-danger" role="alert">{{
          "Error-" + firebaseErrorMessage
        }}</span>
      </ng-template>
    </div>
  </form>
</div>
