<div class="panel" style="margin-bottom: 1rem"></div>
<div class="card mx-auto text-center mt-5" style="width: 90%">
  <div class="card-body">
    <h1 class="mt-3">About Us</h1>
    <p class="text-secondary about-para p-3">
      We are a group of students from Computer Enginering Department of
      <strong>Government Polytechnic Mumbai</strong>, Maharashtra, India who
      sought to overcome a problem as our Final Year Major Project which we
      faced in Online Shopping. We were given a task in the Course Computer
      Networks to create a theoretical lab with Networking Setup for a budget of
      1Lac for 10 PCs and their networking peripherals with them being of
      highest quality and as well as not over-budget. We found the task very
      easy but at the same time tedious to do so since different products were
      at different prices at different sites and of different qualities. Today
      majority of people prefer to buy-in products quickly from E-commerce
      giants such as Amazon and Flipkart who fluctuate prices for profit. This
      website was designed to provide customers with information about the
      products they wish to buy and also allowing them to find the best price
      for them across multiple sites. All free of cost.
    </p>
  </div>
</div>

<!-- Team Details -->
<div
  class="card mx-auto text-center mt-5 my-5 p-5 row flex-row g-4"
  style="width: 90%"
>
  <h1 class="my-3">Our Team</h1>
  <div class="col-md-6 col-lg-4">
    <div class="card p-3">
      <div class="card-body">
        <h3 class="card-title my-2">Naufil Asar</h3>
        <h6 class="card-text">SS20CO023</h6>
        <p class="card-text my-4">
          Project Lead. Developed entire Frontend & APIs in Angular.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card p-3">
      <div class="card-body">
        <h3 class="card-title my-2">Sumit Patel</h3>
        <h6 class="card-text">SS20CO058</h6>
        <p class="card-text my-4">
          Developed Backend engine & deployed it on server.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card p-3">
      <div class="card-body">
        <h3 class="card-title my-2">Saaem Shaikh</h3>
        <h6 class="card-text">SS20CO001</h6>
        <p class="card-text my-4">
          Software Tester. Made unit tests for entire project.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="card p-3">
      <div class="card-body">
        <h3 class="card-title my-2">Uzair Syed</h3>
        <h6 class="card-text">SS20CO010</h6>
        <p class="card-text my-4">
          Systems Developer. Developed high level design plans and reasearch.
        </p>
      </div>
    </div>
  </div>
</div>
