.navbar-brand {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Roboto";
}
.navbar-nav {
  margin: 0.2rem 0.5rem 0.2rem auto;
}
#categoryDropdown {
  margin-top: 5px;
  font-size: 0.9rem;
}

.img-logo {
  margin: 0 5px;
}
