<!-- Display the global navbar -->
<div class="panel"></div>
<div class="main-container">
  <!-- Logo Title -->
  <div id="logo-title" class="mt-3 mt-sm-5 mx-auto" style="width: 100px">
    <img
      id="logo-img"
      class="text-center"
      style="width: 100px"
      src="assets\imgs\logo-transparent.png"
      alt="Logo"
      height="100px"
    />
    <h1 class="mx-auto" style="font-family: 'Ubuntu'">Thrifty</h1>
  </div>

  <!-- Search Bar -->
  <div class="search-container m-5">
    <form class="form d-flex justify-content-center gap-0 gap-sm-2">
      <input
        id="search_box"
        type="text"
        [formControl]="search_product"
        placeholder="Search.."
        class="form-control text-center"
        style="display: inline; width: 60vw; font-family: 'Poppins'"
      />
      <button
        id="search_btn"
        type="button"
        (click)="onClickSearch()"
        class="btn btn-warning"
      >
        <fa-icon [icon]="search_icon"></fa-icon>
      </button>
    </form>
  </div>
</div>

<div *ngIf="displayLoadingAnimation" style="margin: 50px 0">
  <!-- display loading animation -->
  <ng-lottie
    id="loading"
    height="100px"
    [options]="{ path: 'assets/anim/loading.json' }"
  ></ng-lottie>
</div>

<div *ngIf="resultsLoaded" style="margin-top: 70px">
  <!-- results -->
  <div *ngFor="let product of results" class="mx-auto text-center p-5 row g-1">
    <div>
      <div class="col-md-6 col-lg-4">
        <div class="card p-3">
          <div class="card-body">
            <img
              src="{{ product.imgs }}"
              alt="{{ product.titles }}"
              style="
                max-width: 230px;
                max-height: 95px;
                width: auto;
                height: auto;
              "
            />
            <h5 class="card-title my-2">{{ product.titles }}</h5>
            <h6 class="card-text">{{ "₹" + product["prices"] }}</h6>
            <p class="card-text my-4">
              <span
                class="badge rounded-pill text-white m-3"
                [ngClass]="{
                  'bg-warning': product.site == 'amazon',
                  'bg-primary': product.site == 'flipkart',
                  'bg-success': product.site == 'reliance'
                }"
                style="font-size: 1rem; font-weight: 400"
                >{{ product.site }}</span
              >
              <a href="{{ product.urls }}" class="btn btn-sm btn-primary"
                >Link</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    <div
      class="card mx-auto my-5 mx-5"
      style="padding: 5%; width: 90%; margin-bottom: 50px"
    >
      <img
        src="{{ product.imgs }}"
        alt="{{ product.titles }}"
        height="200px"
        width="150px"
      />

      <div class="card-body">
        <div class="card-title">
          <h5 class="card-title">{{ product.titles }}</h5>
        </div>
        {{ "₹" + product["prices"] }}
        <span
          class="badge rounded-pill text-white m-3"
          [ngClass]="{
            'bg-warning': product.site == 'amazon',
            'bg-primary': product.site == 'flipkart',
            'bg-success': product.site == 'reliance'
          }"
          style="font-size: 1rem; font-weight: 400"
          >{{ product.site }}</span
        >
        <a href="{{ product.urls }}" class="btn btn-sm btn-primary">Link</a>
      </div>
    </div> -->
  </div>
</div>
<div
  *ngIf="gotError"
  class="section text-center"
  style="margin-top: 50px; margin-bottom: 100px"
>
  <ng-lottie
    height="300px"
    [options]="{ path: 'assets/anim/api-error.json' }"
  ></ng-lottie>
  <h1 class="text-secondary px-sm-2" style="font-family: 'Poppins'">
    Aw, Snap!
  </h1>
  <p class="text-secondary px-sm-2 h4" style="font-family: 'Poppins'">
    Looks like something went wrong on our side..
  </p>
</div>

<div class="animations" [hidden]="hideSectionAnimations">
  <div class="section text-center" style="margin-top: 100px">
    <h3 class="text-secondary px-sm-2" style="font-family: 'Poppins'">
      We make your task to search hundreds of websites for the best price
      <span class="underlined">simple.</span>
    </h3>
    <ng-lottie
      height="300px"
      [options]="{ path: 'assets/anim/thinking-ad.json' }"
    ></ng-lottie>
  </div>

  <div class="section text-center" style="margin-top: 70px">
    <h3 class="text-secondary px-sm-2" style="font-family: 'Poppins'">
      <span class="underlined">Track</span> Price With Historical Price Chart
    </h3>
    <ng-lottie
      height="300px"
      [options]="{ path: 'assets/anim/price-down.json' }"
    ></ng-lottie>
  </div>

  <div class="section text-center" style="margin: 70px 0">
    <h3 class="text-secondary px-sm-2" style="font-family: 'Poppins'">
      All of that for <span class="underlined">free.</span> Without your data
      being compromised.
    </h3>
    <ng-lottie
      height="300px"
      [options]="{ path: 'assets/anim/free-box.json' }"
    ></ng-lottie>
  </div>
</div>

<!-- Ad Container (Waiting to be approved) -->
<div [hidden]="true">
  <ng-adsense
    [adClient]="'ca-pub-8102599121469216'"
    [adSlot]="1410568522"
    [width]="320"
    [height]="108"
  ></ng-adsense>
</div>
