/* @media screen and (max-width: 565px) {
  #search_btn {
    display: block;
    width: 70vw;
  }
  #search_box {
    display: block;
    width: 70vw;
  }
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
