<div class="panel"></div>

<!-- Contact Form -->

<div class="contact_form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact_form_container">
          <div class="contact_form_title text-center mt-4">
            <h1>Get in Touch</h1>
            <p class="text-secondary">Site not working as expected?</p>
          </div>

          <form id="contact_form" action="mailto:naufilasar9028@gmail.com">
            <div
              class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between"
            >
              <input
                type="text"
                name="name"
                id="contact_form_name"
                class="contact_form_name input_field text-secondary"
                placeholder="Your name"
                required="required"
                data-error="Name is required."
              />
              <input
                type="email"
                name="email"
                id="contact_form_email"
                class="contact_form_email input_field text-secondary"
                placeholder="Your email"
                required="required"
                data-error="Email is required."
              />
              <input
                type="text"
                id="contact_form_phone"
                class="contact_form_phone input_field text-secondary"
                placeholder="Your phone number"
              />
            </div>
            <div class="contact_form_text">
              <textarea
                id="contact_form_message"
                class="text_field contact_form_message text-secondary"
                name="message"
                rows="4"
                placeholder="Message"
                required="required"
                data-error="Please, write us a message."
              ></textarea>
            </div>
            <div class="contact_form_button d-flex justify-content-center">
              <button type="submit" class="btn btn-primary px-2 mt-4">
                <a
                  href="mailto:naufilasar9028@gmail.com"
                  class="text-white text-decoration-none"
                >
                  Send Message
                </a>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact_info">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div
          class="contact_info_container d-flex flex-lg-row flex-column justify-content-center align-items-between"
        >
          <!-- Contact Item -->
          <div
            class="contact_info_item d-flex flex-row align-items-center m-4 mt-0"
          >
            <div class="contact_info_image">
              <img
                src="https://img.icons8.com/office/24/000000/iphone.png"
                alt="phone_img"
              />
            </div>
            <div class="contact_info_content">
              <div class="contact_info_title">Phone</div>
              <div class="contact_info_text">+91 9876 543 2198</div>
            </div>
          </div>

          <!-- Contact Item -->
          <div
            class="contact_info_item d-flex flex-row align-items-center m-4 mt-0"
          >
            <div class="contact_info_image">
              <img
                src="https://img.icons8.com/ultraviolet/24/000000/filled-message.png"
                alt=""
              />
            </div>
            <div class="contact_info_content">
              <div class="contact_info_title">Email</div>
              <div class="contact_info_text">contact@bbbootstrap.com</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
